@media all and (max-width :700px){
    .flex{
        flex-direction: column;
    }
    .event__info p {
        text-justify: newspaper;
        width: 340px;
    }
    .formation__title{
        text-align: center;
    }
    .event__info h2 {
        letter-spacing: 1px;
    }
}
@media all and (max-width :411px){

    .event__info p {
        text-justify: newspaper;
        width:300px;
    }
    .event__info h2 {
        letter-spacing: 0px;
    }
    .timeLine__event {
        width: 650px;
    }
    .line{
        left: 42px;
    }
    .event__dot {
        width: 15px;
        height: 15px;
    }
    .background {
        width: 100%;
    }
}