:root{
   --colorPrimary:#2e2749;
   --colorAccent:#f3d218;
   --colorGreen:#f3d918;
   --colorBlack:rgb(28, 26, 26);
   --colorGrey:#717171;
   --colorDarkGrey:#656565;
   --colorShadow:rgba(58, 58, 58, 0.247);
   --colorLightGrey:#ebebeb;
}
@font-face {
    font-family: HR;
    src: url('../FONTS/Helvetica.ttf');
}
@font-face {
    font-family: HB;
    src: url('../FONTS//Helvetica-Bold.ttf');
}
@font-face {
    font-family: HL;
    src: url('../FONTS/helvetica-light-587ebe5a59211.ttf');
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'HR', 'roboto';
}
.flex{
    display: flex;
    flex-direction: row;
    height: 100%;
}


.emphasize{
    font-weight: 600;
}

button{
    padding: 1rem;
    border-radius: 25px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all .4s ease-in;
    position: relative;
    font-size: 1.2rem;
    z-index:9;
    position: relative;
    overflow: hidden;
}
button::after{
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;

}

button:focus{
    outline: none;
}


.bold{
    font-weight: bold;
}



p , li, span {
    letter-spacing: 1.25px;    
}











.hide{
    display: none;
}



.p1{
    padding: 1rem;
}
.p2{
    padding: 2rem;
}
.p3{
    padding: 3rem;
}


.mgt1{
    margin-top: 1rem;
}
.mgt2{
    margin-top: 2rem;
}
